body {
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.row {
  /*border: 1px solid black;*/
  margin-bottom: 20px;
}

/* remove sections that are not currently active */
.hidden {
  display: none;
}

.logo {
  float: left;
}

a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

.header-btn {
  float: right;
  margin-top: 8px;
}

.home-photo {
  width: 75%;
}

/* override form fieldset and legend defaults */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  display: none;
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
}

.scroll {
  overflow-y: scroll;
}

.error {
  color: red;
}

.list-map-nav {
  text-align: center;
}

.list-btn, .map-btn {
  width: 25%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}

.list-btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.map-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.selected {
  background-color: black;
  color: white;
}

.mountain-box, .home-box, .form-box, .map-box {
  margin-bottom: 20px;
}

.list-sort {
  float: right;
  margin-bottom: 10px;
}

.mountain-box {
  clear: right;
}

.mountain-photo {
  width: 100%;
}

.caption-header {
  margin-bottom: 10px;
}

.caption-details {
  margin: 0;
}

.mountain-box {
  position: relative;
}

.remove-peak {
  background-color: transparent;
  position: absolute;
  right: 3px;
  top: 3px;
}

#map {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

.info-window-header, .info-window-text {
  margin: 0 auto;
}

.info-window-header {
  font-size: 140%;
  margin-bottom: 5px;
}

.info-window-image {
  width: 250px;
  margin-top: 5px;
}
