body {
  font-family: 'Muli', sans-serif;
  text-align: center;
  background-image: url(https://image.ibb.co/cpWWDk/background_dkgrey2.png);
}

.content {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  background-color: white;
}

.hidden {
  display: none;
}

button:hover, #logo:hover, #sort-by:hover, .nav-btn:hover {
  cursor: pointer;
}

.standard-btn, #sort-by {
  background-color: #3A3A3F;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px
}

.standard-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#page-header .row, #page-footer{
  padding: 5px 0 0 0;
  background-image: url(https://image.ibb.co/cpWWDk/background_dkgrey2.png);
}

#page-footer {
  height: 60px;
}

#logo {
  margin: 0;
  font-size: 45px;
  color: white;
}

#main-navigation ul {
  margin: 15px 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.nav-btn {
  display: inline-block;
  color: white;
  font-size: 18px;
  width: 25%;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  border-color: white;
}

.selected {
  background-color: white;
  color: black;
}

.nav-btn:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.page-heading, .list-sort {
  margin-top: 0;
  margin-bottom: 20px;
}

#welcome-image {
  width: 100%;
  height: 400px;
}

.new-user-message {
  font-size: 18px;
}

a {
  color: #3A3A3F;
}

.home-box #circle-chart, .home-box #number-climbed-summary {
  display: inline-block;
  margin-top: 20px;
}

#circle-chart {
  vertical-align: middle;
}

#number-climbed-summary {
  font-size: 30px;
}

.divider-header {
  padding-top: 20px;
  border-top: 2px solid #3A3A3F;
}

/* override form fieldset and legend defaults */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  display: none;
}

label {
  font-size: 18px;
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
}

#peak-select {
  display: none;
}

.invalid-input {
  border: 1px solid red;
}

.error {
  color: red;
  margin-top: 0;
}

.mountain-photo {
  width: 100%;
}

.caption-header {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.caption-details {
  margin: 0;
}

.mountain-box {
  position: relative;
  margin-bottom: 20px;
}

.remove-peak {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 5px;
}

#map {
  height: 500px;
  width: 100%;
  border: 2px solid #3A3A3F;
}

.info-window-header, .info-window-text {
  margin: 0 auto;
}

.info-window-header {
  font-size: 140%;
  margin-bottom: 5px;
}

.info-window-image {
  width: 250px;
  margin-top: 5px;
}

.info-window-key {
  font-weight: bold;
}
